.layout {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 4rem;
  flex-wrap: wrap;
  /* display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 1rem; */
}

.name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.type {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.heading {
  font-weight: bold;
}

.attribute {
  font-weight: bold;
}

.picture {
  max-height: 320px;
  padding: 2rem;
  margin: 0 auto;
}

.backbtn {
  border: 2px solid #000;
  padding: .5rem;
  margin-top: 1rem;
  text-align: center;
}

.statscontainer {
  padding: 1rem;
}